.data-table-wrapper{
	background-color: white;
	position: relative;
}

table,
ot-ghost-table{
	width: 100%;
}

button{
	margin-bottom: 20px;
}

ot-ghost-table{
	display: block;
}

tr.detail-tr {
  height: 0;
}

.table-row td {
  border-bottom-width: 0;
}

.row-detail {
  overflow: hidden;
  display: flex;
}
