<div class="ghost-table-wrapper">

	<!-- Render out a ghost header row -->
	<tr class="ghost-row ghost-header">

		<div class= "ghost-cell" *ngFor="let dummy of ' '.repeat(numberOfColumns).split('')">
			<span class="ghost-item"></span>
		</div>

	</tr>

	<!-- Render out some ghosty rows -->
	<tr class="ghost-row" *ngFor="let dummy of ' '.repeat(numberOfRows).split('')">

		<div class="ghost-cell" *ngFor="let dummy of ' '.repeat(numberOfColumns).split('')">
			<span class="ghost-item"></span>
		</div>

	</tr>

</div>